<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>學生資料管理系統</title>
    <style></style>
  </head>
  <body id="body">
    <h2
      id="result"
      class="text-center"
      style="color: red; size: 20px"
    >{{message}}</h2>
    <form action="register" method="post">
      <div class="container-fluid">
        <div class="row mb-3">
          <div class="col-sm-4"></div>
          <div class="col-sm-4 form-floating">
            <input
              #sno
              type="text"
              class="form-control"
              id="sno"
              name="sno"
              placeholder="A000001"
            />
            <label for="sno">　帳號(學號)</label>
          </div>
          <div class="col-sm-4"></div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-4"></div>
          <div class="col-sm-4 form-floating">
            <input
              #spwd
              type="password"
              class="form-control"
              id="spwd"
              name="spwd"
              placeholder="A000001"
            />
            <label for="spwd">　密碼</label>
          </div>
          <div class="col-sm-4"></div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-4"></div>
          <div class="col-sm-4 form-floating">
            <input
              #spwdc
              type="password"
              class="form-control"
              id="spwdc"
              name="spwdc"
              placeholder="A000001"
            />
            <label for="spwdc">　確認密碼</label>
          </div>
          <div class="col-sm-4"></div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-4"></div>
          <div class="col-sm-4 form-floating">
            <input
              #sname
              type="text"
              class="form-control"
              id="sname"
              name="sname"
              placeholder="A000001"
            />
            <label for="spwdc">　姓名</label>
          </div>
          <div class="col-sm-4"></div>
        </div>

        <fieldset class="row mb-3">
          <div class="col-sm-4"></div>
          <div class="col-sm-4 d-flex justify-content-center">
            <legend class="col-form-label pt-0">性別</legend>
            <input #ssex type="hidden" value="{{ ssex_receive }}" />
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="ssex"
                id="gridRadios1"
                value="0"
                (click)="sex_select(0)"
                checked
              />
              <label class="form-check-label" for="gridRadios1">女</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="ssex"
                id="gridRadios2"
                value="1"
                (click)="sex_select(1)"
              />
              <label class="form-check-label" for="gridRadios2">男</label>
            </div>
          </div>
          <div class="col-sm-4"></div>
        </fieldset>
        <div class="row mb-3">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
            <label for="sbday">出生日期</label>
            <input
              #sbday
              id="sbday"
              name="sbday"
              class="form-control"
              type="date"
            />
          </div>
          <div class="col-sm-4"></div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-4"></div>
          <div class="col-sm-4 form-floating">
            <input
              #smail
              type="email"
              class="form-control"
              id="smail"
              name="smail"
              placeholder="A000001@"
            />
            <label for="smail">　電子郵件</label>
          </div>
          <div class="col-sm-4"></div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-4"></div>
          <div class="col-sm-4 form-floating">
            <input
              #sid
              type="text"
              class="form-control"
              id="sid"
              name="sid"
              placeholder="A000001"
            />
            <label for="smail">　身份證字號</label>
          </div>
          <div class="col-sm-4"></div>
        </div>

        <div class="d-flex justify-content-center mb-3">
          <input
            id="button"
            value="送出"
            class="btn btn-primary"
            (click)="doRegister()"
          />
        </div>
      </div>
    </form>
  </body>
</html>
